.button {
    position: relative;
}

.button.standard {
    
}

.button.styled::before {
    content: " ";
    position: absolute;
    width: 103.5%;
    height: 109%;
    top: -4.5%;
    left: -1.75%;
    transform: rotate(-5deg);
    transition-property: transform;
    transition-duration: 0.2s;
    transform-origin: center center;
    transition-timing-function: ease-in-out;
    z-index: -1;
}

.button.styled:hover::before {
    transform: rotate(3deg);
}

.link {
    position: relative;
}

.link::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 2px;
    background-color: black;
    top: 110%;
    left: 0%;
    transition-property: transform;
    transition-duration: 0.3s;
    transform-origin: center center;
    transition-timing-function: ease-in-out;
}

.link:hover::after {
    transform: translateY(4px);
}